
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="http://blog.ed-era.com/assets/css/less_parts/mixin.less" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://blog.ed-era.com/assets/css/font-awesome.min.css?v=442b734af3">
		<link rel="stylesheet" type="text/css" href="http://blog.ed-era.com/assets/css/hl-styles/atom-one-dark.css?v=442b734af3">
		<link rel="stylesheet" type="text/css" href="http://blog.ed-era.com/assets/css/screen.css?v=442b734af3">
        
        <link href="https://getbootstrap.com/docs/4.0/scss/_custom-forms.scss">
        <link rel="stylesheet" href="./public/css/radiobutton.css" type="text/css" />
        <link rel="stylesheet" href="./public/css/main.css" type="text/css" />
        <link rel="stylesheet" href="./public/css/animate.css" type="text/css" />
        
        
    </head>

    <body>
        <div id = 'test' class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="main-block-wrap col-sm-12 col-md-6 col-lg-6">
                <div class="main-block clearfix">

                    <div v-if="introFlag">
                        <div>
                            <h1 style="padding-top:35px">{{intro.title}}</h1>
                            <a href="#" class="thumbnail quiz-description">
                                <img src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg">
                            </a>
                            <p class="quiz-description">{{intro.description}}</p>
                            <div style="text-align: center;">

                                <button
                                @click="loadMDData"
                                name="mainDoctor" 
                                class="button">
                                    {{intro.mainDoctor}}
                                </button>

                                <button 
                                @click="loadRDData"
                                name="regularDoctor" 
                                class="button">
                                    {{intro.regularDoctor}}    
                                </button>
                                
                            </div>
                        </div>
                    </div>


                    <div v-if="quizFlag">

                        <question 
                        :answers = "answers[currentQuestion]"
                        :question = "quiz[currentQuestion]"
                        :quiz-length = "quizLength"
                        :last-question = "lastQuestion"
                        :next-question = "nextQuestion"
                        v-on:user-answer = "handleAnswer"
                        v-on:end-quiz = "endQuiz"
                        :current-question = "currentQuestion"
                        >
                        </question>
                        
                    </div>

                    <div v-if="resultFlag">
                        <div>
                            <h1>Дякуємо!</h1>
                            <p class="quiz-description">
                                Ви відповіли правильно на {{percentage}}% питань ({{rightAnswers}}/{{quizLength}})!
                            </p>
                            <div style="text-align: center">
                                <button class = "button" 
                                v-on:click="loadMDData">
                                    Пройти за головного лікаря
                                </button>
                                <button class = "button"
                                v-on:click="loadRDData">
                                    Пройти за лікаря
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>

    <script src="./public/js/app.js"></script>
</html>